*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
nav{
    height: 74px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #00000014;
    display: flex;
    align-items: center;
    padding: 0px 35px;
}
.png3{
    position: absolute;
    top: 30px;
    left: 100px;
}
.collection{
    width: 777px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
}
.btn1{
    height: 42px;
    width: 100px;
    border-radius: 6px;
    background: linear-gradient(0deg, #E7E8E3, #E7E8E3),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px 0px #00000014;
}
.btn2{
    height: 42px;
    width: 159px;
    border-radius: 6px;
    background: #CF6F49;
    border: 1px solid #CF6F49;
}
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
}
.png2{
    position: absolute;
    z-index: -1;
}
.btn3{
    height: 29px;
    width: 171px;
    border-radius: 32px;
    background: #E7E8E3;
    border: none;
    margin-top: 164px;
    margin-left: 92px;
    margin-bottom: 24px;
}
.h1{
    margin-left: 80px;
    margin-bottom: 21px;
}
.p{
    margin-left: 80px;
    margin-bottom: 21px;
}
.inp1{
    margin-left: 80px;
    height: 48px;
    width: 310px;
    top: -0.40625px;
    border-radius: 6px;background: linear-gradient(0deg, #E7E8E3, #E7E8E3),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px 0px #00000014;
    outline: none;
    text-indent: 35px;
}
.search{
    top: 455px;
    left: 90px;
    position: absolute;
}
.btn4{
    height: 42px;
    width: 126px;
    border-radius: 6px;
    background: #CF6F49;
    border: 1px solid #CF6F49;
}
.box2{
    height: 160px;
    width: 50%;
    left: 720px;
    border-radius: 0px;
}
.box2 img{
    width: 100%;
    height: 100vh;
}
.box1{
    width: 50%;
}
.two_div{
    width: 100%;
    margin-bottom: 100px;
}
.two_div img{
    width: 100%;
}
.title1{
    text-align: center;
    margin-bottom: 21px;
}
.thire_div{
    width: 100%;
}
.thire_div img{
    width: 100%;
}
.car1 img{
    width: 100%;
}
.car2 img{
    width: 100%;
}